.tProduct{
    position:relative;
    border: 1px solid green;
    width:100%;
}
.tLeft{
    border:1px solid grey;
}
.tImg{
    border:1px solid blue;
    padding:10px;
    height:160px;
    width:160px;
}
