body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	margin: 0;

}

.img_container {
	position: relative;
	max-width: 20%;
	max-height: 250px;
}

.img_logo {
	position: relative;
	width: 100%;
}
button.sml{
	width:20px;
	font-size:10px;
	text-align:center;
	text-decoration:none;
	border:none;
	background:#aaa;
	border-radius:4px;
	color:white;
	margin-right:10px;
	transition: 0.3s;
	position:relative;
	font-weight:1000;
	padding:0;
}
button.sml:hover{
	background:#878787;
	transition: 0.3s;
}
#gs_img {
	background-image: url(../img/gs_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	width: 200px;
	height: 200px;
}

#btn_cont {
	margin-top: 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.order_container {
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0px 0px 30px 1px #aaa;
	width: 90%;
	left: 50%;
	transform: translate(-50%);
	position: relative;
	float: left;
	overflow-y: auto;
}

.order_half {
	position: relative;
}

.order_date {
	position: absolute;
	right: 0;
}

.order_bottom {
	position: relative;
	padding-bottom: 10px;
	font-weight: 600;
}

.order_status {
	position: absolute;
	left: 0;
}

.order_id {
	font-weight: 600;
	font-size: 26px;
	position: relative;
	left: 0;
}

.order_total {
	font-weight: 600;
	font-size: 26px;
	position: absolute;
	right: 0;
}

.flashGreen {
	color: green;
}

#login_form {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	border-left: 0;
	margin-top: 50px;
}

#cool3 {
	font-weight: 600;
}

#payment_form {
	height: auto;
	position: relative;
}

#payment-div {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
}

#visa-img {
	margin-top: 10px;
	position: relative;
	width: 100%;
}

.over_container {

	position: relative;
	width: 100%;
	margin-top: 40px;

}

.product_container {
	position: relative;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 0px 30px 1px #aaa;

}

.product_image {
	position: relative;
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.product_box {
	padding: 15px;
	height: auto;
	position: relative;
	border-top: none;
}

.product_title {
	position: relative;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
	height: 110px;
}

.product_description {
	position: relative;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
	height: 70px;
	overflow: auto;

}

.product_quantity {
	position: relative;
	font-size: 14px;
	font-weight: 700;
}

.product_number {
	width: 50px;
	height: 30px;
	padding: 5px;
	text-align: center;
}

.product_add_button {
	left: 50%;
	transform: translate(-50%);
	border: none;
	margin-left: 5px;
	position: relative;
	padding: 4px 25px 4px 25px;
	font-size: 16px;
	height: 60px;
	width: auto;
	background-color: #1C86EE;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.continue {
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
}

.button_cont {

	padding: 30px;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	width: auto;
	height: auto;
	z-index: 1000;
	position: fixed;
	border: 4px solid #aaa;
	background-color: #aaa;
	border-radius: 40px;
}

.modal_btn {
	border: none;
	font-size: 20px;
	text-decoration: none;
	width: 300px;
	position: relative;
	height: 100px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	background-color: green;
	color: white;
}

.product_cost {
	text-align: center;
	color: #0340aa;
	font-weight: 600;

}

#billing_address {
	display: none;
}

#card_details {
	display: none;
}

.error-response {
	font-weight: 600;
	font-size: 18px;
	color: orangered;
}

.btn_takeaway {
	text-decoration: none;
	height: 16px;
	width: 20px;
	text-align: center;
}

.a_outer {
	position: relative;
	width: 100%;
}

.a_id {
	font-weight: 600;
	font-size: 26px;
	position: relative;
	text-align: center;
	transform: translateY(50%);
}

.a_container {
	position: relative;
	width: 80%;
	box-shadow: 0px 0px 30px 1px #aaa;
	padding: 40px;
	left: 50%;
	transform: translate(-50%);
	margin-top: 40px;
}

.a_btn {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

a.green {
	background-color: green;
}
#sessionInfo{
	font-weight:600;
	text-align:center;
	font-size:24px;
	color:black;
}
#sessionInfo>a{
	color:black;
	transition-duration: 1s;

}
#sessionInfo>a:hover{
	text-decoration:underline;
	transition-duration: 1s;
}
.fa_src{
	font-size:15px;
}
